<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul id="category-<%=category.id%>">
      <% category.tasks.each do |task|  %>
      <li id="task-<%=task.id%>">
        <% if task.status == false %>
            <span class="task-title"><%= task.title  %></span>
        <% else %>
            <span class="task-title task-is-done"><%= task.title  %></span>
        <% end %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
          <%= check_box_tag :status, 1, task.status , data: { remote: true, url: task_path(task), params: { id: task.id }.to_param, method: "put" }%>
          <%= link_to "", task_path(task), method: :delete, class: "fas fa-trash", remote: true %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<p>
    <strike>Une balise strike à l'essai !</strike>
</p>